.Dictionary section{
    background:white;
    padding: 20px;
    border-radius: 7px;
    box-shadow:0 5px 15px rgba(0, 0, 0, 0.1);
    margin:auto;
    max-width:600px;
    text-align:left;
    font-size:smaller;
    line-height:30px;
}

